body{
    background-color: rgb(0, 0, 0);
    margin: 0;
}

.navbar{
    background-color: #0f1e35
}

.nav-link {
    color: rgb(255, 255, 255);
  }
  
  .nav-link:hover {
    color: rgb(1, 220, 1);
  }
  
  .navbar-nav li.nav-item {
    border-right: 3px solid #ccc;
  }
  
  .navbar-nav li.nav-item:last-child {
    border-right: none;
  }

  .btn-container {
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 15px;
    margin-left: 300px;
  }  

  .btn-nav-button {
    background-color: #facfff;
    color: #000000;
    margin-left: 5px;
    margin-right: 10px;
  }  

  #col-login {
    background-color: rgb(255, 119, 0) !important;
}

.link{
  color:white !important;
}

.img{
  width: 100%;
}

.row > * {
  
  padding-right: 0 !important;
  padding-left: 0 !important;
}

section {
  padding: 0;
  margin: 0;
}

.container-fluid{
  padding-right: 0 !important;
  padding-left: 0 !important;
}

#container1{
  background-color: white;
  border-radius: 15px;
}

#container2{
  background-image: url('../img/inscripcion.png');
  border-radius: 15px;
}



.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../img/contrasenia.png');
}
form {
  background-color: white;
  padding: 16px;
}
input[type=submit] {
  justify-items: center;  
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: darkred;
}

.homeSub{
  background-image: url('../img/inscripcion.png');
}