{% extends 'main.html'%} {% load static %} 
{% block contenido %}


<div class="center">
    <form name="myForm" action="/action_page.php" onsubmit="return validateForm()" method="post">
        <label for="password">Contraseña:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <label for="repeatPassword">Repetir contraseña:</label><br>
        <input type="password" id="repeatPassword" name="repeatPassword"><br><br>
        <input type="submit" value="Enviar">
      </form> 
  </div>
  

{% endblock contenido %}