
{% extends 'main.html'%} {% load static %} 
{% load crispy_forms_tags %}

{% block contenido %}

<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-lg-6" id="col-login" style="display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 50vh;">
            <h1 style="color:white;" class="text-center">Iniciar sesión</h1>
            <form action="" method="post">
                {% csrf_token %} 
                {{ form | crispy}}
                <a class="link" href="{% url 'home' %}" >Ir a Inicio</a>
                <a class="link" href="{% url 'registro' %}" >Crear Cuenta</a>
                <hr>
                <input type="reset" value="Cancelar" class="btn btn-danger"> &nbsp;
                <input type="submit" class="btn btn-primary"  value="Ingresar" >
            </form>
        </div>
        
        <div class="col-lg-6">
          <img src="{% static 'principal/img/registro.png' %}" alt="imagen" class="img"> 
        </div>
    </div> 
</div>

{% endblock contenido %}
