{% extends 'main.html'%} {% load static %} 
{% block contenido %}


<div class="container-fluid">

    <!---------------HERO--------------> 
    <section class="col-12">
        <img
          
          class=" col-12"
          style="height: 550px; "
          src="../../../static/principal/img/hero1.jpg"
          alt=""
        />
      </section>
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded mt-4 mb-5">
          <h1 class="section-heading mb-4">
            <span class="section-heading-upper" style="color: white"
              >Help Us
            </span>
          </h1>
          
          
          <h2 class="mb-2 text-white">Una ayuda para los que más lo necesitan</h2>
        </div>
      </div>
</div>

{% endblock contenido %}