{% extends 'main.html'%} {% load static %} 
{% block contenido %}


<div class="center">
 
    <ul>
      <li><strong>Nombre de usuario:</strong> {{ usuario.username }}</li>
      <li><strong>Nombre:</strong> {{ usuario.usuario.nombre }}</li>
      <li><strong>Apellido paterno:</strong> {{ usuario.usuario.ap_paterno }}</li>
      <li><strong>Apellido materno:</strong> {{ usuario.usuario.ap_materno }}</li>
      <li><strong>Teléfono:</strong> {{ usuario.usuario.telefono }}</li>
      <li><strong>Email:</strong> {{ usuario.usuario.email }}</li>
      <li><strong>Dirección:</strong> {{ usuario.usuario.direccion }}</li>
      <li><strong>Fecha de nacimiento:</strong> {{ usuario.usuario.fecha_nac }}</li>
      <li><strong>Puntuacion:</strong> {{ usuario.usuario.puntuacion }}</li>
      <h2>Servicios Aceptados:</h2>
      <ul>
          {% for servicio in servicios_aceptados %}
              <li>{{ servicio.nombre }}</li>
          {% empty %}
              <li>No has aceptado ningún servicio</li>
          {% endfor %}
      </ul>
      <br>
      <a href="{% url 'home' %}" class="btn btn-success">Ir a home</a>
    </ul>
    
  </div>
  
  

{% endblock contenido %}