{% extends 'main.html'%} {% load static %} 
{% block contenido %}


<div class="center">
    <ul>
      <li><strong>Nombre de usuario:</strong> {{ usuario.username }}</li>
      <li><strong>Nombre:</strong> {{ usuario.usuario.nombre }}</li>
      <li><strong>Apellido paterno:</strong> {{ usuario.usuario.ap_paterno }}</li>
      <li><strong>Apellido materno:</strong> {{ usuario.usuario.ap_materno }}</li>
      <li><strong>email:</strong> {{ usuario.usuario.email }}</li>
      <li><strong>Puntuacion:</strong> {{ usuario.usuario.puntuacion }}</li>
      
    </ul>
  </div>
  
  

{% endblock contenido %}